@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor-principal: #1e0557;
    --cor-secundaria: #023d11;
    --cor-destaque: #0a9dbe;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
    background: linear-gradient(white,blue);
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 720;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 520;
}

a, .btn-link:hover {
    color: var(--cor-principal)
}

a:hover{
    color: var(--cor-destaque);
}

.card-body{
    background-color: #acf8bf;
}

.modal-body,.modal-hearde{
    background-color: #b4f7c5;
}